body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
  background:
    linear-gradient(to left, #fff, transparent) right/5% 32px no-repeat,
    linear-gradient(to right, #fff, transparent) left/5% 32px no-repeat,
    url(./images/photo_2t.jpg) no-repeat;
  background-size: cover;
}

/* .back-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  opacity: 0.15;
}
.back-img img {
  height: 100%;
} */

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.container2 {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.sideoffset {
  margin-left: 5px;
  margin-right: 5px;
}

/* HEADER */
.header {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* TITLE */
#title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#title p {
  letter-spacing: 10px;
  font-weight: 100;
  margin: 0;
  font-size: 18px;
}

#title h1 {
  margin: 0;
}

/* FEATURES */
#features {
  margin-top: 130px;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.feature {
  display: flex;
  align-items: center;
  width: 100%;
}
.feature img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
.feature p {
  margin: 0;
}

/* CONTACTS */
#contacts {
  margin-top: 130px;
  padding-bottom: 130px;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 40px;
}
.contacts .left img {
  max-width: 150px;
}
.contacts .right {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 11px;
  min-width: 200px;
}
.contacts .right h2{
  margin: 10px 0 0;
}
.contacts .right h3{
  margin: 0 0 5px;
  color: gray;
  font-size: 15px;
  font-weight: 400;
}
.contact {
  display: flex;
}
.contact img {
  width: 20px;
  height: 20px;
  margin-right: 13px;
}
.contact a {
  text-decoration: none;
  color: black;
}
.contact a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 300px) {
  #title p {
    letter-spacing: 8px;
    font-size: 16px;
  }
}